## Following are some of the basic variable types in Python

### Boolean Variable: can have either True or False value only

In [1]:
session_useful = True

In [2]:
type(session_useful)

bool

In [3]:
print(session_useful)

True

### Integer Variable: negative or positive whole number values

In [4]:
x = 5

In [5]:
type(x)

int

In [6]:
print(x)

5

In [7]:
x = x + 5

In [8]:
print(x)

10

### Float Variable: real number values

In [9]:
y = 3.14

In [10]:
type(y)

float

In [11]:
print(y)

3.14

In [12]:
y = y * 2

In [13]:
print(y)

6.28

### String Variable: sequence of characters (letters, numbers, punctuations, special characters)

In [14]:
message = 'Hello'

In [15]:
type(message)

str

In [16]:
print(message)

Hello

In [17]:
message = message + ' and Welcome to VisionDataScience!'

In [18]:
print(message)

Hello and Welcome to VisionDataScience!

#### Difference between single and double quotes in strings:

#### The literal is going to the same in case of 'Hello' and "Hello"

#### However, if you need to use double quote character inside your string literal, then you have to use single quotes to enclose the literal. 

#### Similarly, if you need to use single quote character inside your string literal, then you have to use double quotes to enclose the literal.

In [19]:
a = 'Python is a "beautiful" language'
a = "Let's do some Python programming"

### Understanding Mutable vs Immutable

#### String, Float, Integer, Boolean, Tuple are Immutable Data Types: the value cannot be changed

#### It means that if you change the value of the variable, what really happens is that the variable is reassigned in memory

#### Let us see one example for an integer variable, but this also applies to all other immutable types

#### We shall use a built-in function - id() - to know the memory address of a variable - actually, its the memory adress of the value of the variable (literal or instance).

#### Example 1

#### x1 is an integer variable set to the literal 5, which we change later

In [20]:
x1 = 5

In [21]:
id(x1)

93826353734560

In [22]:
type(x1)

int

In [23]:
print(x1)

5

In [24]:
x1 = x1 * 20

In [25]:
print(x1)

100

In [26]:
id(x1)

93826353737600

#### Example 2

#### c and d are two integer variables that are assigned two integer literals, 20 and 50 respectively.

In [27]:
c = 20
d = 50

In [28]:
id(c)

93826353735040

In [29]:
id(d)

93826353736000

#### Now, we change the value of c to be the same as the value of d, which will change the address pointed by c

In [30]:
c = d

In [31]:
id(c)

93826353736000

In [32]:
id(d)

93826353736000

#### Demonstation of making c point to its original location by reassigning the same integer literal (remember that this is possible for this case, but not always possible for all cases)

In [33]:
c = 20

In [34]:
id(c)

93826353735040

#### Although Python internally uses pointers, it is not a good idea to think about pointers when programming in Python (contrast this with C language, where working with pointers is useful and powerful).

#### Dictionary, List: these are mutable data types

#### Mutable types have methods to change the values in the variables.

#### Also, changing the values do not change the memory address of the variables.

#### List is a mutable collection data type in Python, and has append() and pop() methods to change the list values.

In [35]:
new_students = []

In [36]:
type(new_students)

list

In [37]:
print(new_students)

[]

In [38]:
id(new_students)

140106884562128

In [39]:
new_students.append('Basavaraj')

In [40]:
print(new_students)

['Basavaraj']

In [41]:
id(new_students)

140106884562128

In [42]:
new_students.append('Sanyam')

In [43]:
new_students.append('Nitin')

In [44]:
print(new_students)

['Basavaraj', 'Sanyam', 'Nitin']

In [45]:
removed_student = new_students.pop()

In [46]:
print(new_students)

['Basavaraj', 'Sanyam']

In [47]:
print(removed_student)

Nitin

In [48]:
new_students.pop()

'Sanyam'

In [49]:
print(new_students)

['Basavaraj']

#### Dictionary is aso a mutable collection data type in Python, hence has methods such as popitem() and clear() to modify its content

In [50]:
city_mapping = {'Delhi': 20,
                'Bangalore': 25,
                'Chennai': 30}

In [51]:
type(city_mapping)

dict

In [52]:
print(city_mapping)

{'Delhi': 20, 'Bangalore': 25, 'Chennai': 30}

In [53]:
city_mapping.popitem()

('Chennai', 30)

In [54]:
bangalore = city_mapping.popitem()

In [55]:
print(bangalore)

('Bangalore', 25)

In [56]:
print(city_mapping)

{'Delhi': 20}

In [57]:
city_mapping['Bangalore'] = 25

In [58]:
print(city_mapping)

{'Delhi': 20, 'Bangalore': 25}