In [1]:
import pandas as pd

In [3]:
test_data_path = '/home/ngarg/Documents/work/Freelancing/VDS/ref/amex/data/test.csv'
train_data_path = '/home/ngarg/Documents/work/Freelancing/VDS/ref/amex/data/train.csv'
item_data_path = '/home/ngarg/Documents/work/Freelancing/VDS/ref/amex/data/item_data.csv'
customer_transaction_data_path = '/home/ngarg/Documents/work/Freelancing/VDS/ref/amex/data/customer_transaction_data.csv'
customer_demographics_data_path = '/home/ngarg/Documents/work/Freelancing/VDS/ref/amex/data/customer_demographics.csv'
coupon_item_mapping_data_path = '/home/ngarg/Documents/work/Freelancing/VDS/ref/amex/data/coupon_item_mapping.csv'
campaign_data_path = '/home/ngarg/Documents/work/Freelancing/VDS/ref/amex/data/campaign_data.csv'

test_raw_data = pd.read_csv(test_data_path)
train_raw_data = pd.read_csv(train_data_path)
item_raw_data = pd.read_csv(item_data_path)
ct_raw_data = pd.read_csv(customer_transaction_data_path)
cd_raw_data = pd.read_csv(customer_demographics_data_path)
cim_raw_data = pd.read_csv(coupon_item_mapping_data_path)
campaign_raw_data = pd.read_csv(campaign_data_path)

### EDA

In [4]:
test_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50226 entries, 0 to 50225
Data columns (total 4 columns):
id             50226 non-null int64
campaign_id    50226 non-null int64
coupon_id      50226 non-null int64
customer_id    50226 non-null int64
dtypes: int64(4)
memory usage: 1.5 MB

In [11]:
list(test_raw_data.nunique())

[50226, 10, 331, 1250]

In [5]:
train_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78369 entries, 0 to 78368
Data columns (total 5 columns):
id                   78369 non-null int64
campaign_id          78369 non-null int64
coupon_id            78369 non-null int64
customer_id          78369 non-null int64
redemption_status    78369 non-null int64
dtypes: int64(5)
memory usage: 3.0 MB

In [12]:
list(train_raw_data.nunique())

[78369, 18, 866, 1428, 2]

In [6]:
item_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74066 entries, 0 to 74065
Data columns (total 4 columns):
item_id       74066 non-null int64
brand         74066 non-null int64
brand_type    74066 non-null object
category      74066 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [7]:
list(item_raw_data.nunique())

[74066, 5528, 2, 19]

In [8]:
ct_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324566 entries, 0 to 1324565
Data columns (total 7 columns):
date               1324566 non-null object
customer_id        1324566 non-null int64
item_id            1324566 non-null int64
quantity           1324566 non-null int64
selling_price      1324566 non-null float64
other_discount     1324566 non-null float64
coupon_discount    1324566 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 70.7+ MB

In [9]:
list(ct_raw_data.nunique())

[549, 1582, 74063, 9252, 4923, 1418, 232]

In [10]:
cd_raw_data.info() # we are going to drop this dataset for our demonstration here as ~50% customers' data is missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 7 columns):
customer_id       760 non-null int64
age_range         760 non-null object
marital_status    431 non-null object
rented            760 non-null int64
family_size       760 non-null object
no_of_children    222 non-null object
income_bracket    760 non-null int64
dtypes: int64(3), object(4)
memory usage: 41.6+ KB

In [13]:
cim_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92663 entries, 0 to 92662
Data columns (total 2 columns):
coupon_id    92663 non-null int64
item_id      92663 non-null int64
dtypes: int64(2)
memory usage: 1.4 MB

In [14]:
list(cim_raw_data.nunique())

[1116, 36289]

In [15]:
campaign_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
campaign_id      28 non-null int64
campaign_type    28 non-null object
start_date       28 non-null object
end_date         28 non-null object
dtypes: int64(1), object(3)
memory usage: 976.0+ bytes

In [16]:
list(campaign_raw_data.nunique())

[28, 2, 25, 26]

In [17]:
len(set(test_raw_data['customer_id']).intersection(set(ct_raw_data['customer_id'])))

1250

In [18]:
len(set(train_raw_data['customer_id']).intersection(set(ct_raw_data['customer_id'])))

1428

In [19]:
len(set(test_raw_data['campaign_id']).intersection(set(campaign_raw_data['campaign_id'])))

10

In [20]:
len(set(train_raw_data['campaign_id']).intersection(set(campaign_raw_data['campaign_id'])))

18

In [21]:
len(set(test_raw_data['coupon_id']).intersection(set(cim_raw_data['coupon_id'])))

331

In [22]:
len(set(train_raw_data['coupon_id']).intersection(set(cim_raw_data['coupon_id'])))

866

In [23]:
len(set(cim_raw_data['item_id']).intersection(set(item_raw_data['item_id'])))

36289

In [24]:
len(set(ct_raw_data['item_id']).intersection(set(item_raw_data['item_id'])))

74063

### Data Wrangling: Simple merge and merge using feature engineering

In [25]:
df_coupon_item_merged = cim_raw_data.merge(item_raw_data, on='item_id')

In [26]:
df_coupon_item_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92663 entries, 0 to 92662
Data columns (total 5 columns):
coupon_id     92663 non-null int64
item_id       92663 non-null int64
brand         92663 non-null int64
brand_type    92663 non-null object
category      92663 non-null object
dtypes: int64(3), object(2)
memory usage: 4.2+ MB

In [30]:
list(df_coupon_item_merged.nunique())

[1116, 36289, 2555, 2, 17]

In [27]:
df_coupon_item_merged_gb_coupon_id = df_coupon_item_merged.groupby('coupon_id')

In [28]:
df_train_merged = train_raw_data.merge(campaign_raw_data, on='campaign_id')
df_train_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78369 entries, 0 to 78368
Data columns (total 8 columns):
id                   78369 non-null int64
campaign_id          78369 non-null int64
coupon_id            78369 non-null int64
customer_id          78369 non-null int64
redemption_status    78369 non-null int64
campaign_type        78369 non-null object
start_date           78369 non-null object
end_date             78369 non-null object
dtypes: int64(5), object(3)
memory usage: 5.4+ MB

In [29]:
df_test_merged = test_raw_data.merge(campaign_raw_data, on='campaign_id')
df_test_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50226 entries, 0 to 50225
Data columns (total 7 columns):
id               50226 non-null int64
campaign_id      50226 non-null int64
coupon_id        50226 non-null int64
customer_id      50226 non-null int64
campaign_type    50226 non-null object
start_date       50226 non-null object
end_date         50226 non-null object
dtypes: int64(4), object(3)
memory usage: 3.1+ MB

In [31]:
df_train_merged['coupon_items_count'] = df_train_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['item_id']).count(), axis=1)
df_train_merged['coupon_items_unique_brands'] = df_train_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['brand']).nunique(), axis=1)
df_train_merged['coupon_items_unique_categories'] = df_train_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['brand_type']).nunique(), axis=1)

df_test_merged['coupon_items_count'] = df_test_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['item_id']).count(), axis=1)
df_test_merged['coupon_items_unique_brands'] = df_test_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['brand']).nunique(), axis=1)
df_test_merged['coupon_items_unique_categories'] = df_test_merged.apply(lambda x: (df_coupon_item_merged_gb_coupon_id.get_group(x['coupon_id'])['brand_type']).nunique(), axis=1)

In [32]:
ct_raw_data_gb_customer_id = ct_raw_data.groupby('customer_id')

In [40]:
df_train_merged['transactions_count'] = df_train_merged.apply(lambda x: len(ct_raw_data_gb_customer_id.get_group(x['customer_id'])), axis=1)
df_train_merged['transactions_start_date'] = df_train_merged.apply(lambda x: (ct_raw_data_gb_customer_id.get_group(x['customer_id'])['date']).min(), axis=1)
df_train_merged['transactions_end_date'] = df_train_merged.apply(lambda x: (ct_raw_data_gb_customer_id.get_group(x['customer_id'])['date']).max(), axis=1)
df_train_merged['transactions_unique_items'] = df_train_merged.apply(lambda x: (ct_raw_data_gb_customer_id.get_group(x['customer_id'])['item_id']).nunique(), axis=1)

df_test_merged['transactions_count'] = df_test_merged.apply(lambda x: len(ct_raw_data_gb_customer_id.get_group(x['customer_id'])), axis=1)
df_test_merged['transactions_start_date'] = df_test_merged.apply(lambda x: (ct_raw_data_gb_customer_id.get_group(x['customer_id'])['date']).min(), axis=1)
df_test_merged['transactions_end_date'] = df_test_merged.apply(lambda x: (ct_raw_data_gb_customer_id.get_group(x['customer_id'])['date']).max(), axis=1)
df_test_merged['transactions_unique_items'] = df_test_merged.apply(lambda x: (ct_raw_data_gb_customer_id.get_group(x['customer_id'])['item_id']).nunique(), axis=1)

In [34]:
df_train_merged.to_csv('amex_2k19_hackathon_train_merged.csv', index=False)
df_test_merged.to_csv('amex_2k19_hackathon_test_merged.csv', index=False)

In [2]:
df_train_merged = pd.read_csv('amex_2k19_hackathon_train_merged.csv')
df_test_merged = pd.read_csv('amex_2k19_hackathon_test_merged.csv')

In [3]:
df_train_merged.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,campaign_type,start_date,end_date,coupon_items_count,coupon_items_unique_brands,coupon_items_unique_categories,transactions_count,transactions_start_date,transactions_end_date,transactions_unique_items
0,1,13,27,1053,0,X,19/05/13,05/07/13,125,2,1,310,2012-01-10,2013-07-01,208
1,2,13,116,48,0,X,19/05/13,05/07/13,3,1,1,385,2012-03-04,2013-06-13,244
2,7,13,644,1050,0,X,19/05/13,05/07/13,4,1,1,237,2012-02-14,2013-06-19,216
3,21,13,1028,89,0,X,19/05/13,05/07/13,6,1,1,668,2012-04-06,2013-06-28,498
4,23,13,517,1067,0,X,19/05/13,05/07/13,3,1,1,970,2012-03-23,2013-07-02,533

In [4]:
df_test_merged.head()

,id,campaign_id,coupon_id,customer_id,campaign_type,start_date,end_date,coupon_items_count,coupon_items_unique_brands,coupon_items_unique_categories,transactions_count,transactions_start_date,transactions_end_date,transactions_unique_items
0,3,22,869,967,X,16/09/13,18/10/13,72,1,1,1362,2012-04-25,2013-06-27,658
1,5,22,981,510,X,16/09/13,18/10/13,19,1,1,1642,2012-03-04,2013-06-19,1019
2,16,22,1079,1186,X,16/09/13,18/10/13,62,1,1,1212,2012-04-14,2013-07-02,721
3,31,22,583,315,X,16/09/13,18/10/13,5,1,1,777,2012-04-27,2013-07-03,448
4,38,22,452,1323,X,16/09/13,18/10/13,21,1,1,945,2012-01-04,2013-06-24,561

In [5]:
type(df_train_merged.start_date[0])

str

In [6]:
type(df_train_merged.transactions_start_date[0])

str

In [7]:
df_train_merged.campaign_type = df_train_merged.campaign_type.astype('category')
df_train_merged.campaign_type = df_train_merged.campaign_type.cat.codes
df_train_merged.start_date = df_train_merged.start_date.apply(lambda x: x.replace('/', ''))
df_train_merged.end_date = df_train_merged.end_date.apply(lambda x: x.replace('/', ''))
df_train_merged.transactions_start_date = df_train_merged.transactions_start_date.apply(lambda x: x[8:]+x[5:7]+x[:4])
df_train_merged.transactions_end_date = df_train_merged.transactions_end_date.apply(lambda x: x[8:]+x[5:7]+x[:4])
df_train_merged = df_train_merged.astype(int)

df_test_merged.campaign_type = df_test_merged.campaign_type.astype('category')
df_test_merged.campaign_type = df_test_merged.campaign_type.cat.codes
df_test_merged.start_date = df_test_merged.start_date.apply(lambda x: x.replace('/', ''))
df_test_merged.end_date = df_test_merged.end_date.apply(lambda x: x.replace('/', ''))
df_test_merged.transactions_start_date = df_test_merged.transactions_start_date.apply(lambda x: x[8:]+x[5:7]+x[:4])
df_test_merged.transactions_end_date = df_test_merged.transactions_end_date.apply(lambda x: x[8:]+x[5:7]+x[:4])
df_test_merged = df_test_merged.astype(int)

In [8]:
df_train_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78369 entries, 0 to 78368
Data columns (total 15 columns):
id                                78369 non-null int64
campaign_id                       78369 non-null int64
coupon_id                         78369 non-null int64
customer_id                       78369 non-null int64
redemption_status                 78369 non-null int64
campaign_type                     78369 non-null int64
start_date                        78369 non-null int64
end_date                          78369 non-null int64
coupon_items_count                78369 non-null int64
coupon_items_unique_brands        78369 non-null int64
coupon_items_unique_categories    78369 non-null int64
transactions_count                78369 non-null int64
transactions_start_date           78369 non-null int64
transactions_end_date             78369 non-null int64
transactions_unique_items         78369 non-null int64
dtypes: int64(15)
memory usage: 9.0 MB

In [9]:
df_test_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50226 entries, 0 to 50225
Data columns (total 14 columns):
id                                50226 non-null int64
campaign_id                       50226 non-null int64
coupon_id                         50226 non-null int64
customer_id                       50226 non-null int64
campaign_type                     50226 non-null int64
start_date                        50226 non-null int64
end_date                          50226 non-null int64
coupon_items_count                50226 non-null int64
coupon_items_unique_brands        50226 non-null int64
coupon_items_unique_categories    50226 non-null int64
transactions_count                50226 non-null int64
transactions_start_date           50226 non-null int64
transactions_end_date             50226 non-null int64
transactions_unique_items         50226 non-null int64
dtypes: int64(14)
memory usage: 5.4 MB

In [10]:
df_train_merged.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,campaign_type,start_date,end_date,coupon_items_count,coupon_items_unique_brands,coupon_items_unique_categories,transactions_count,transactions_start_date,transactions_end_date,transactions_unique_items
0,1,13,27,1053,0,0,190513,50713,125,2,1,310,10012012,1072013,208
1,2,13,116,48,0,0,190513,50713,3,1,1,385,4032012,13062013,244
2,7,13,644,1050,0,0,190513,50713,4,1,1,237,14022012,19062013,216
3,21,13,1028,89,0,0,190513,50713,6,1,1,668,6042012,28062013,498
4,23,13,517,1067,0,0,190513,50713,3,1,1,970,23032012,2072013,533

In [11]:
df_test_merged.head()

,id,campaign_id,coupon_id,customer_id,campaign_type,start_date,end_date,coupon_items_count,coupon_items_unique_brands,coupon_items_unique_categories,transactions_count,transactions_start_date,transactions_end_date,transactions_unique_items
0,3,22,869,967,0,160913,181013,72,1,1,1362,25042012,27062013,658
1,5,22,981,510,0,160913,181013,19,1,1,1642,4032012,19062013,1019
2,16,22,1079,1186,0,160913,181013,62,1,1,1212,14042012,2072013,721
3,31,22,583,315,0,160913,181013,5,1,1,777,27042012,3072013,448
4,38,22,452,1323,0,160913,181013,21,1,1,945,4012012,24062013,561

### Model Training and Evaluation

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, balanced_accuracy_score, recall_score, precision_score, f1_score

In [13]:
df_train_merged_X = df_train_merged.drop(['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status'], axis=1)
df_train_merged_y = df_train_merged['redemption_status']

In [14]:
x_train, x_test, y_train, y_test = train_test_split(df_train_merged_X, df_train_merged_y, random_state=0, test_size=.2, stratify=df_train_merged_y)

print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(62695, 10) (62695,)
(15674, 10) (15674,)

In [15]:
rfc_model_1 = RFC(random_state=0)
rfc_model_1.fit(x_train, y_train)
rfc_model_1_y_hat = rfc_model_1.predict(x_test)
rfc_model_1_accuracy = accuracy_score(y_test, rfc_model_1_y_hat)
rfc_model_1_balanced_accuracy = balanced_accuracy_score(y_test, rfc_model_1_y_hat)
rfc_model_1_recall = recall_score(y_test, rfc_model_1_y_hat, average='micro')
rfc_model_1_precision = precision_score(y_test, rfc_model_1_y_hat, average='micro')
rfc_model_1_f1 = f1_score(y_test, rfc_model_1_y_hat, average='micro')

svc_model_1 = SVC(random_state=0)
svc_model_1.fit(x_train, y_train)
svc_model_1_y_hat = svc_model_1.predict(x_test)
svc_model_1_accuracy = accuracy_score(y_test, svc_model_1_y_hat)
svc_model_1_balanced_accuracy = balanced_accuracy_score(y_test, svc_model_1_y_hat)
svc_model_1_recall = recall_score(y_test, svc_model_1_y_hat, average='micro')
svc_model_1_precision = precision_score(y_test, svc_model_1_y_hat, average='micro')
svc_model_1_f1 = f1_score(y_test, svc_model_1_y_hat, average='micro')

/home/ngarg/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/home/ngarg/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [16]:
print('\nModel 1: RFC\n\tAcc\t:{:.2f}\n\tBAcc\t:{:.2f}\n\tRec\t:{:.2f}\n\tPrec\t:{:.2f}\n\tF1\t:{:.2f}'.format(rfc_model_1_accuracy, 
                                                                                                               rfc_model_1_balanced_accuracy, 
                                                                                                               rfc_model_1_recall, 
                                                                                                               rfc_model_1_precision,
                                                                                                               rfc_model_1_f1))
print('\nModel 2: SVC\n\tAcc\t:{:.2f}\n\tBAcc\t:{:.2f}\n\tRec\t:{:.2f}\n\tPrec\t:{:.2f}\n\tF1\t:{:.2f}'.format(svc_model_1_accuracy, 
                                                                                                               svc_model_1_balanced_accuracy, 
                                                                                                               svc_model_1_recall, 
                                                                                                               svc_model_1_precision,
                                                                                                               svc_model_1_f1))

Model 1: RFC
	Acc	:0.99
	BAcc	:0.54
	Rec	:0.99
	Prec	:0.99
	F1	:0.99

Model 2: SVC
	Acc	:0.99
	BAcc	:0.51
	Rec	:0.99
	Prec	:0.99
	F1	:0.99

In [17]:
from sklearn.metrics import roc_auc_score
rfc_model_1_auc = roc_auc_score(y_test, rfc_model_1_y_hat, average='micro')
svc_model_1_auc = roc_auc_score(y_test, svc_model_1_y_hat, average='micro')
print(rfc_model_1_auc, '\t', svc_model_1_auc)

0.5364798366891801 	 0.5101129731179381

In [19]:
df_train_merged.redemption_status.value_counts()

0    77640
1      729
Name: redemption_status, dtype: int64

## Ensure you wantch the video for a lot of pointers and advice I have given for this exercise and also in general for ML