Raju and Ramu are two friends in school. Raju has Rs 10 with whereas Ramu has Rs 50 with him. 

Both start from home together. Bus fare is Rs 20. Hence Raju borrows Rs 10 from Ramu.

After first lecture Ramu goes to library. He has 4 books in his bag. Physics, Maths, Social, English.He exchanges English book with Hindi book.

Now both decides to go to theatre and watch movie. They will watch the movie only if they both are able to pay the price individually. Movie ticket costs Rs 20.
Do they watch the movie?

Raju finds a dictionary nearby lying there. He finds it empty. Ramu asks Raju fill the dictionary with five countries and there names.

Now, Raju opens his bag. From his list of books, he picks Physics book, reads the same. After that he writes a message, "I have read Physics book".
He continues the same for the remaining books.

Then both start return journey. They decide that if they will buy ticket if they have enough otherwise they will travel freely.
Did they buy return journey the ticket?

They reach home and starts playing in nearby playground.

In [11]:
raju = 10
ramu = 50

In [12]:
bus_fare = 20

In [13]:
borrow_amount = 10
ramu -= borrow_amount
raju += borrow_amount # raju = raju + borrow_amount

In [14]:
ramu -= bus_fare
raju -= bus_fare

In [15]:
ramu_book_list = ['Physics', 'Maths', 'Social', 'English'] 
ramu_book_list[3]='Hindi'

In [17]:
movie_fare = 20
if (raju >= movie_fare and ramu >= movie_fare):
    print('Yeah! Letz wath a movie!')
    ramu -= movie_fare
    raju -= movie_fare
else:
    print('No movie!')

No movie!

In [18]:
a_dict = {}
a_dict['India'] = 'New Delhi'
a_dict['Nepal'] = 'Kathmandu'

In [19]:
a_dict

{'India': 'New Delhi', 'Nepal': 'Kathmandu'}

In [23]:
list(range(5))

[0, 1, 2, 3, 4]

In [20]:
a_dict = {}
for i in range(5):
    a_dict['Country'+str(i)] = 'Captial'+str(i)

In [21]:
a_dict

{'Country0': 'Captial0',
 'Country1': 'Captial1',
 'Country2': 'Captial2',
 'Country3': 'Captial3',
 'Country4': 'Captial4'}

In [24]:
for book in ramu_book_list:
    print("I have read {} book".format(book))

I have read Physics book
I have read Maths book
I have read Social book
I have read Hindi book

In [25]:
if (raju >= bus_fare and ramu >= bus_fare): # amounts need to be checked individually
    print('Yeah! Letz buy the bus tickets!')
    ramu -= bus_fare
    raju -= bus_fare
else:
    print('Travel freely!')

Travel freely!

In [26]:
if (raju >= 2*bus_fare or ramu >= 2*bus_fare): # amounts need to be checked in combination (total)
    print('Yeah! Letz buy the bus tickets!')
    ramu -= bus_fare
    raju -= bus_fare
else:
    print('Travel freely!')

Travel freely!

### Function: range() returns a 'range' iterable object, can be converted to a list

### Syntax: 
### range(stop)
### range(start, stop)
### range(start, stop, step)

In [27]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [28]:
list(range(5, 20, 2))

[5, 7, 9, 11, 13, 15, 17, 19]

1, 1, 2, 3, 5, 8, ...

In [29]:
fib_list = [1, 1]
for i in range(10):
    fib_list.append(fib_list[-1] + fib_list[-2])
fib_list

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

### Operators: Division vs. Integer Division

In [30]:
x = 10
y = 5

In [32]:
z = x / y
z

2.0

In [33]:
z = x // y # z //= y   --> z = z // y
z

2

### Operator: Modulus

In [34]:
x % 2  # remainder of x / 2

0

In [35]:
y % 2

1

### Operator: Exponent

In [36]:
2 ** y

32

### Function: enumerate() returns a list of (index, item) tuples

### Syntax:
### enumerate(iterable)
### enumerate(iterable, index_offset)

In [37]:
for book_index, book_name in enumerate(ramu_book_list):
    print("I have read book number {}, name {}".format(book_index, book_name))

I have read book number 0, name Physics
I have read book number 1, name Maths
I have read book number 2, name Social
I have read book number 3, name Hindi

In [38]:
for book_index, book_name in enumerate(ramu_book_list):
    print("{}. {}".format(book_index, book_name))

0. Physics
1. Maths
2. Social
3. Hindi

In [39]:
for book_index, book_name in enumerate(ramu_book_list, 11):
    print("{}. {}".format(book_index, book_name))

11. Physics
12. Maths
13. Social
14. Hindi

In [40]:
for book_index, book_name in enumerate(ramu_book_list):
    if book_index != 3:
        print("I have read book number {}, name {}".format(book_index, book_name))

I have read book number 0, name Physics
I have read book number 1, name Maths
I have read book number 2, name Social

### Keyword: not

In [41]:
new_book = 'Statistics'
if new_book not in ramu_book_list:
    ramu_book_list.append(new_book)

In [42]:
ramu_book_list

['Physics', 'Maths', 'Social', 'Hindi', 'Statistics']

### Function: zip() returns a list of (item, item, ...) tuples

### Syntax:
### zip(iterable1, iterable2, ...)

In [43]:
author_list = ['Tanvee', 'Parv', 'Nitin', 'Parv', 'Nitin']

In [44]:
for book_name, author_name in zip(ramu_book_list, author_list):
    print('Book {} by {}'.format(book_name, author_name))

Book Physics by Tanvee
Book Maths by Parv
Book Social by Nitin
Book Hindi by Parv
Book Statistics by Nitin

In [46]:
for book_name_author in zip(ramu_book_list, author_list):
    print('Book {} by {}'.format(book_name_author[0], book_name_author[1]))

Book Physics by Tanvee
Book Maths by Parv
Book Social by Nitin
Book Hindi by Parv
Book Statistics by Nitin

In [48]:
for i, c in enumerate('Vision DataScience Rocks!'):
    if (i % 2) == 0:
        print(c)

V
s
o

a
a
c
e
c

o
k
!

### Creating a dictionary from 2 lists

In [49]:
lib_dict = {}
for book_name, author_name in zip(ramu_book_list, author_list):
    lib_dict[book_name] = author_name
lib_dict

{'Physics': 'Tanvee',
 'Maths': 'Parv',
 'Social': 'Nitin',
 'Hindi': 'Parv',
 'Statistics': 'Nitin'}

### Demonstration of what happens when duplicate key is encountered

In [50]:
lib_dict = {}
for book_name, author_name in zip(ramu_book_list, author_list):
    lib_dict[author_name] = book_name
lib_dict

{'Tanvee': 'Physics', 'Parv': 'Hindi', 'Nitin': 'Statistics'}